tests/functional/_testdata/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="deep-thought" type="deep-thoughtType"/>
  <xs:complexType name="resultsType">
    <xs:sequence>
      <xs:element type="resultType" name="result"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deep-thoughtType">
    <xs:sequence>
      <xs:element type="resultsType" name="results"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultType">
    <xs:sequence>
      <xs:element type="xs:string" name="question"/>
      <xs:element type="xs:string" name="answer"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>